<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.quizsetter">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuizSetter"
        tools:targetApi="s">
        <activity
            android:name=".SetQuestionActivity1"
            android:parentActivityName=".AfterLogin0"
            android:screenOrientation="portrait"
            android:label="ADD QUESTION"
            android:theme="@style/Theme.LoginScreen.register"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AfterLogin0"
            android:exported="false"
            android:label="Active Quizzes"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LoginScreen.register">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Questionsetactivty"
            android:exported="false"
            android:label="Questions"
            android:parentActivityName=".AfterLogin0"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LoginScreen.register">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AfterLogin"
            android:exported="false"
            android:label="New Quiz"
            android:parentActivityName=".AfterLogin0"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LoginScreen.register" />
        <activity
            android:name=".ForgotActivity"
            android:exported="false"
            android:label="Forgot Password"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LoginScreen.register" />
        <activity
            android:name=".SignUp"
            android:exported="false"
            android:label="Register"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LoginScreen.register" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>